@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

* {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    max-width: 100%;
}

/* # NAVBAR */

.nav-item:hover {
    transform: translateY(-0.5vh);
}
.nav-item {
    transition: transform 0.3s;
    a {
        color: white;
    }

}

.text-border{
    /*A classe Text-border é responsável pela criação da animação da borda branca nos textos da navbar.*/
    margin: 0;
    display: inline-block;
}

.text-border:after {
    display: block;
    content: '';
    transform: scaleX(0); 
    border-bottom: 4px solid #FFECE5;
    transition: transform 250ms ease-in-out;
}

.text-border:hover:after { transform: scaleX(1); }


.navbar {
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 65%, rgba(73,42,164,1) 100%);

   .navbar-nav {
    gap: 2rem;

}

    button {
        border: none;
        background-color: transparent;
    }

    .navbar-brand {
    margin-left: 10rem;
}

    img {
    margin-left: -1rem;
    margin-right: -1rem;

}

}

.itens-nav {
    margin-top: 0.5rem;
    width: 55rem;

    .nav-item {
        margin-left: 5rem;
    }
}

.d-flex {
    padding: 0.5rem;
    margin-left: 12rem;

    #user {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        flex-direction: row;
        cursor: pointer;

       img {
        margin-left: 1rem;
        width: 25px;
        height: 25px;
       }
    }
    
    #cart {
        padding-left: 5rem;
        width: 7rem;
}
}

/* #NAVBAR END */


/* MENU START */

.menulayout {
    padding-top: 4rem;
    justify-content: center;
}

.categorias {
    display: flex;
    
    min-width: 30rem;
    max-width: 50rem;
    

    box-shadow: 0px 2px 4px 0px ;
    border-radius: 3.8vh;
    background-color: #F8F8F8;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}


/* MENU END */

.boxcardapio {
    border-radius: 2rem;
    width: 12rem;
    box-shadow: 0px 2px 4px 0px;
    padding: 10px;

    img {
        margin-left: 1.5rem;
    }
}


.cardapio {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 5rem;
    flex-wrap: wrap;
    h5 {
        font-weight: bold;
        text-align: center;
    }
}

.exploring {
    h1 {
    font-weight: bolder;
    font-size: 30px;
    padding-top: 4rem;
    padding-left: 2rem;
    flex-wrap: wrap;
}
}
.bxcate {
    width: 5vw;

    h5 {
        text-align: center;
    }
}

.buy {
    background-color: #FFA24B;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    width: 9rem;
    transition: transform 150ms;
    
}

/*RECEIPT*/

.receipt-background{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    padding: 2rem;
    background-color: #FEFEFE;
    border-radius: 3rem;
    box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
    animation: receipt_opening 1s ;
    
    h2{
        margin-bottom: 1.5rem;
            font-family: "Kadwa", sans-serif;
            text-align: center;
            font-weight: 700;
            
        }

        
    }
    .button-close{
        font-weight: 700;
        width: 2rem;
        height: 2rem;
        float: right;
        border: none;
        border-radius: 0.5rem;
        transition: all 0.3s;
    }
    .button-close:hover {
        background-color: crimson;
    }

    .meal-product-details{
        display: flex;
        flex-direction: row;
    
    }
    
    .receipt-ingredient{
        list-style-type: decimal;

    }
    .receipt-ingredient li{
        padding: 10px;

    }
    
    
    .receipt-img{
        border-radius: 30px;
            
    }
    
    .receipt-description{
        padding: 30px;
    
            h3{
                text-align: center;
                
            }
            
    }
    
    .receipt-buy-button{
    
        float: right;
    
    }
    
    .receipt-buy{
        padding: 0.8rem;
        width: 5em;
        background-color: #FFA24B;
        border: none;
        border-radius: 1rem;
        text-decoration: none;
        color: black;
    }
    
    .receipt-buy:hover{
        cursor:pointer;
    
    
    }

    @keyframes receipt_opening{
    from {opacity: 0.5;}
    to {opacity:1;}

    }



 



/*RECEIPT END*/

/* FOOTER */
 
#footer{
    margin-top: 100px;
    display: flex;
    width: 100%;
    padding: 0px;
    flex-direction: row;
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 40%, rgba(73,42,164,1) 100%);
}


.fbx1{
    padding-top: 6rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    text-align: start;
    flex: 50%;

        #footerlogo{
            width: 35rem;
        }
}
.fbx2{
    padding-top: 3rem;
    flex:25%;
    text-align: start;
    justify-content: start;
}
.fbx3{
    flex:30%;

    
}
.fbx4{
    flex:15%;
    
}

.footerfontcolor{
    color: #FFECE5;
}
.footertext{
    color: #FFECE5;
    font-size: 1.5em;
}
.titlefooter{
    font-size: 4rem;


}
.kadwa-bold {
    font-family: "Kadwa", serif;
    font-weight: 700;
    font-style: normal;
}

@media (max-width: 912px){}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    
    #footer{
        flex-direction: column;
    }
    .fbx1{
        flex: 30%;
    }
    .fbx2{
        flex: 30%;
    }
    .fbx3{
        flex: 30%;
    }
    .fbx4{
        flex: 15%;
    }
 }

@media all and (min-width: 480px) and (max-width: 768px) {

 }

@media all and (max-width: 480px) { 

}

/* FOOTER END */

/* MENU DROP DOWN */

.menu {
    position: fixed;
    width: 30rem;
    height: 30rem;
    background-color: black;

    .menudrop {
        
    }
}