@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

:root {
    --navbar-color: linear-gradient(90deg, rgba(240,33,33,1) 65%, rgba(73,42,164,1) 100%);
    --navbar-color-2: #FFFFFF;
    --footer-color: linear-gradient(90deg, rgba(240,33,33,1) 40%, rgba(73,42,164,1) 100%);
    --button-color-2: #ff0000;
    --button-color-3: #FFA24B;
    --box-color: #FDFDFD;
    --footer-text-color: #FFECE5;
    --button-text: #FFFFFF;
    --font-inter: "Inter", sans-serif;
    --font-bold: bold;
    --font-kadwa: font-family: "Kadwa", serif;
    --font-weight-kadwa: font-weight: 800;
}


* {
    font-family: var(--font-inter);
    font-weight: var(--font-bold);
}

/* # NAVBAR */

.navbar {
    display: flex;
    justify-content: center;
    background: var(--navbar-color);


}
.brand-logo {
    position: relative;
    right: 12%;
}


.nav-link {
    padding: 1.5rem;
    color: var(--navbar-color-2);
    text-decoration: none;
}

.chest-itens {
    gap: 2rem;

    .nav-icons {
        display: inline-flex;
    }
}

.user-a {
    margin-left:4rem ;
    gap: 2rem;
}

/* #NAVBAR END */

/* MENU START */

.menulayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40rem;
    gap: 3rem;
    padding: 1.5rem;
    box-shadow: 0px 2px 4px 0px ;
    border-radius: 3.8vh;
    background-color: var(--box-color);
}

@media all and (min-width: 495px) and (max-width: 1024px) {
   
    .categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 7rem;

   }
   .kadwa-bold {
    text-align: center;
    font-size: 9pt;
}
}

@media all and (max-width: 480px) {
    
    .categorias {
        gap: 5rem;
        padding-right: 2rem;
        .kadwa-bold {
            text-align: center;
            font-size: 8pt;
        }
    }
}

/* MENU END */

#btn-scroll {
    position: fixed;
    border: none;
    border-radius: 5rem;
    background-color: var(--button-color-2);
    float: right;
    bottom: 1rem;
    right: 5rem;
    transition: 0.3s ease-in;
    scale: 0;
}
.cardapio {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 5rem;
    flex-wrap: wrap;
    h5 {
        font-weight: var(--font-bold);
        text-align: center;
    }
}


.boxcardapio {
    border-radius: 2rem;
    width: 12rem;
    box-shadow: 0px 2px 4px 0px;
    padding: 10px;

    img {
        margin-left: 1.5rem;
    }
}

.buy {
    background-color: var(--button-color-3);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    width: 9rem;
    transition: transform 150ms;
    
}

.exploring {
    h1 {
    font-weight: var(--font-bold);
    font-size: 30px;
    padding-top: 4rem;
    padding-left: 2rem;
    flex-wrap: wrap;
    }
}

.bxcate {

    h5 {
        text-align: center;
    }
}

@media all and (min-width:0px) and (max-width: 720px) { 
    .cardapio {
        gap: 1rem;
    }
}


/*RECEIPT*/

.receipt-background{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    padding: 2rem;
    background-color: #FEFEFE;
    border-radius: 3rem;
    box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
    animation: receipt_opening 1s ;
    
    h2{
        margin-bottom: 1.5rem;
            font-family: var(--font-kadwa);
            text-align: center;
            font-weight: 700;
        }

        
    }
    .button-close{
        font-weight: 700;
        width: 2rem;
        height: 2rem;
        float: right;
        border: none;
        border-radius: 0.5rem;
        transition: all 0.3s;
    }
    .button-close:hover {
        background-color: var(--button-color-2);
    }

    .meal-product-details{
        display: flex;
        flex-direction: row;
    }
    
    .receipt-ingredient{
        list-style-type: decimal;

    }
    .receipt-ingredient li{
        padding: 10px;
    }
    
    
    .receipt-img{
        border-radius: 30px;
        width:37.5rem; 
        height:37.5rem;
            
    }
    
    .receipt-description{
        padding: 30px;
    
            h3{
                text-align: center;
            } 
    }
    
    .receipt-buy-button{
        float: right;
    }
    
    .receipt-buy{
        padding: 0.8rem;
        width: 5em;
        background-color: var(--button-color-3);
        border: none;
        border-radius: 1rem;
        text-decoration: none;
        color: black;
    }
    
    .receipt-buy:hover{
        cursor:pointer;
    }

    @keyframes receipt_opening{
    from {opacity: 0.5;}
    to {opacity:1;}

    }


    @media all and (min-width: 1024px) and (max-width: 1280px) {
        .receipt-background{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70vw;
            padding: 2rem;
            background-color: var(--box-color);
            border-radius: 3rem;
            box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
            overflow: auto;
            animation: receipt_opening 1s ;
            
            h2{
                margin-bottom: 0.5rem;
                    font-size: 1.5rem ;
                    font-family: var(--font-kadwa);
                    text-align: center;
                    font-weight: 700;
                    
                }
                
                h4{
                    font-size: 0.85rem;
                }
            }
            .button-close{
                font-weight: 700;
                width: 3rem;
                height: 3rem;
                float: right;
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s;
            }
            .button-close:hover {
                background-color: var(--button-color-2);
            }
        
            .meal-product-details{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            
            .receipt-ingredient{
                list-style-type: decimal;
            }
            .receipt-ingredient li{
                padding: 3px;
            }
            
            
            .receipt-img{
                border-radius: 20px;
                width:15rem; 
                height: 15rem;
            }
            
            .receipt-description{
                padding: 20px;
            
                    h3{
                        font-size: 0.9rem;
                        text-align: center;
                    }
            }
            
            .receipt-buy-button{
                float: right;
            }
            
            .receipt-buy{
                padding: 0.2rem;
                width: 2rem;
                background-color: var(--button-color-3);
                border: none;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
            }
        }     
    
    @media all and (min-width: 768px) and (max-width: 1023px) {

        .receipt-background{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80vw;
            padding: 2rem;
            background-color: #FEFEFE;
            border-radius: 3rem;
            box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
            overflow:hidden;
            animation: receipt_opening 1s ;
            
            h2{
                margin-bottom: 0.5rem;
                    font-family: var(--font-kadwa);
                    text-align: center;
                    font-weight: 700;
                }
                
                h4{
                    font-size: 1.5rem;
                }
            }
            .button-close{
                font-weight: 700;
                width: 3rem;
                height: 3rem;
                float: right;
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s;
            }
            .button-close:hover {
                background-color: var(--button-color-2);
            }
        
            .meal-product-details{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            
            .receipt-ingredient{
                list-style-type: decimal;
            }
            .receipt-ingredient li{
                padding: 5px;
            }
            
            
            .receipt-img{
                border-radius: 30px;
                width:30rem; 
                height: 30rem;
            }
            
            .receipt-description{
                padding: 30px;
            
                    h3{
                        text-align: center;   
                    }
            }
            
            .receipt-buy-button{
                float: right;
            }
            
            .receipt-buy{
                padding: 0.8rem;
                width: 5em;
                background-color: var(--button-color-3);
                border: none;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
            }     
            .receipt-buy:hover{
                cursor: pointer;
            }
        
            @keyframes receipt_opening{
            from {opacity: 0.5;}
            to {opacity:1;}
        
            }
    
    }
    
    @media all and (min-width: 480px) and (max-width: 768px) {

        .receipt-background{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80vw;
            padding: 2rem;
            background-color: var(--box-color);
            border-radius: 3rem;
            box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
            overflow:hidden;
            animation: receipt_opening 1s ;
            
            h2{
                margin-bottom: 0.5rem;
                    font-family: var(--font-kadwa);
                    text-align: center;
                    font-weight: 700;
                }
                
                h4{
                    font-size: 1rem;
                }
            }
            .button-close{
                font-weight: 700;
                width: 2rem;
                height: 2rem;
                float: right;
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s;
            }
            .button-close:hover {
                background-color: var(--button-color-2);
            }
        
            .meal-product-details{
                display: flex;
                align-items: center;
                flex-direction: column;
            
            }
            
            .receipt-ingredient{
                list-style-type: decimal;
            }
            .receipt-ingredient li{
                padding: 5px;
            }
            
            
            .receipt-img{
                border-radius: 30px;
                width:15rem; 
                height: 15rem;
                    
            }
            
            .receipt-description{
                padding: 30px;
            
                    h3{
                        text-align: center;
                    }    
            }
            
            .receipt-buy-button{
                float: right;
            }
            
            .receipt-buy{
                padding: 0.8rem;
                width: 5em;
                background-color: var(--button-color-3);
                border: none;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
            }
            
            .receipt-buy:hover{
                cursor:pointer;            
            }
        
            @keyframes receipt_opening{
            from {opacity: 0.5;}
            to {opacity:1;}
        
            }
    
    }
    
    @media all and (max-width: 480px) {
        .receipt-background{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25rem;
            padding: 2rem;
            background-color: var(--box-color);
            border-radius: 3rem;
            box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
            animation: receipt_opening 1s ;
            
            h2{
                margin-bottom: 0.5rem;
                    font-family: var(--font-kadwa);
                    text-align: center;
                    font-weight: 700;
                }
                
                h4{
                    font-size: 0.7rem;
                }
            }

            .button-close{
                font-weight: 700;
                width: 3rem;
                height: 3rem;
                float: right;
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s;
            }
            .button-close:hover {
                background-color: var(--button-color-2);
            }
        
            .meal-product-details{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            
            .receipt-ingredient{
                list-style-type: decimal;
        
            }
            .receipt-ingredient li{
                padding: 0px;
        
            }
            
            
            .receipt-img{
                border-radius: 30px;
                width:10rem; 
                height: 10rem;
                    
            }
            
            .receipt-description{
                padding: 10px;

                    h3{
                        text-align: center;  
                    }  
            }
            
            .receipt-buy-button{
                float: right;
            }
            
            .receipt-buy{
                padding: 0.8rem;
                width: 5em;
                background-color: var(--button-color-3);
                border: none;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
            }
            
            .receipt-buy:hover{
                cursor:pointer;
            }
        
            @keyframes receipt_opening{
            from {opacity: 0.5;}
            to {opacity:1;}
        
            }
    }
    
 



/*RECEIPT END*/

/* FOOTER */
 
#footer{
    margin-top: 100px;
    display: flex;
    width: 100%;
    padding: 0px;
    flex-direction: row;
    background: var(--footer-color);
    padding-bottom: 15px;
}

.footer-img{
    width: 3rem;
}

#linkedin{
    margin-right: 1rem; ;
}

.fbx1{
    text-align: center;
    padding-top: 5rem;
    flex: 40%;
    margin-right: 2rem;

        #footerlogo{
            width: 35rem;
        }
}
.fbx2{
    padding-top: 2rem;
    flex:25%;
    text-align: start;
    justify-content: start;

    h1{
        border-bottom: solid var(--footer-text-color) 5px;width: 11rem;margin-bottom: 2rem;
    }
}
.fbx3{
    padding-top: 2rem;
    flex:25%;
    h1{
        border-bottom: solid var(--footer-text-color) 5px;width: 11rem;margin-bottom: 2rem;
    }

    
}

.footertext{
    color: var(--footer-text-color);
    font-size: 1.2em;
    font-family: var(--font-kadwa);
    font-weight: 800;
}
.titlefooter{
    font-size: 3rem;
    color: var(--footer-text-color);
    font-family: var(--font-kadwa);
    font-weight: 800;


}
.kadwa-bold {
    font-family: var(--font-kadwa);
    font-weight: 700;
    font-style: normal;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    
    #footer{
        flex-direction: column;
    }
    .fbx1{
        flex: 30%;
        text-align: center;
        justify-content: center;
        padding-top: 3rem;      /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-bottom: 0rem;
        padding-left: 0rem;

        #footerlogo{
            width: 25rem;
        }

        
    }
    .footer-img{
        width: 3rem;

    }
    #linkedin{
        margin-right: 1rem; ;
    }
    .fbx2{
        flex: 30%;
        text-align: center;
        justify-content: center;
        border-bottom: #FEFEFE ; /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

            h1{
                width: auto;
                border-top: solid var(--footer-text-color) 5px;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
                border-bottom: none;
            }
    }
    .fbx3{
        flex: 30%;
        text-align:center;
        justify-content: center;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

         h1{
            border-top: solid var(--footer-text-color) 5px;        /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
            border-bottom: none;
            width: auto;
         }
    }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
    #footer{
        flex-direction: column;
    }
    .fbx1{
        flex: 30%;
        text-align: center;
        justify-content: center;
        padding-top: 3rem;      /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-bottom: 0rem;
        padding-left: 0rem;

        #footerlogo{
            width: 25rem;
        }

        
    }
    .footer-img{
        width: 3rem;

    }
    #linkedin{
        margin-right: 1rem;
    }
    .fbx2{
        flex: 30%;
        text-align: center;
        justify-content: center;
        border-bottom: #FEFEFE ; /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

            h1{
                width: auto;
                border-top: solid var(--footer-text-color) 5px;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
                border-bottom: none;
            }
    }
    .fbx3{
        flex: 30%;
        text-align:center;
        justify-content: center;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

         h1{
            border-top: solid var(--footer-text-color) 5px;        /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
            border-bottom: none;
            width: auto;
         }
    }

 }

@media all and (max-width: 480px) { 

    #footer{
        flex-direction: column;
    }
    .fbx1{
        flex: 30%;
        text-align: center;
        justify-content: center;
        padding-top: 3rem;      /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-bottom: 0rem;
        padding-left: 0rem;

        #footerlogo{
            width: 20rem;
        }
    }

    .footer-img{
        width: 3rem;

    }
    #linkedin{
        margin-right: 1rem; ;
    }
    .fbx2{
        flex: 30%;
        text-align: center;
        justify-content: center;
        border-bottom: #FEFEFE ; /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

            h1{
                width: auto;
                border-top: solid var(--footer-text-color) 5px;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
                border-bottom: none;
            }
    }
    .fbx3{
        flex: 30%;
        text-align:center;
        justify-content: center;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

         h1{
            border-top: solid var(--footer-text-color) 5px;        /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
            border-bottom: none;
            width: auto;
         }
    }

}

/* FOOTER END */