@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

* {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

/* # NAVBAR */

.navbar {
    display: flex;
    justify-content: center;
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 65%, rgba(73,42,164,1) 100%);


}
.brand-logo {
    position: relative;
    right: 12%;
    span {
        font-weight: bold;
        font-size: 1.25rem;
    }
}


.nav-link {
    padding: 3rem;
    color: white;
    text-decoration: none;
}

.chest-itens {
    gap: 2rem;
    .nav-icons {
        display: inline-flex;
    }

}

.user-a {
    left: 30%;
    gap: 2rem;

    a {
        text-decoration: none;
        color: white;
    }
}

/* #NAVBAR END */


/* MENU START */

.menulayout {
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.categorias {
    display: flex;
    box-shadow: 0px 2px 4px 0px ;
    border-radius: 3.8vh;
    background-color: #F8F8F8;
    width: 40rem;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    .kadwa-bold {
        text-align: center;
    }
}

@media all and (min-width: 495px) and (max-width: 1024px) {
   
    .categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 7rem;

   }
   .kadwa-bold {
    text-align: center;
    font-size: 9pt;
}
}

@media all and (max-width: 480px) {
    
    .categorias {
        gap: 5rem;
        padding-right: 2rem;
        .kadwa-bold {
            text-align: center;
            font-size: 8pt;
        }
    }
}


/* MENU END */

.boxcardapio {
    border-radius: 2rem;
    width: 12rem;
    box-shadow: 0px 2px 4px 0px;
    padding: 10px;

    img {
        margin-left: 1.5rem;
    }
}


.cardapio {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 5rem;
    flex-wrap: wrap;
    h5 {
        font-weight: bold;
        text-align: center;
    }
}

.exploring {
    h1 {
    font-weight: bolder;
    font-size: 30px;
    padding-top: 4rem;
    padding-left: 2rem;
    flex-wrap: wrap;
}
}
.bxcate {

    h5 {
        text-align: center;
    }

}

.buy {
    background-color: #FFA24B;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    width: 9rem;
    transition: transform 150ms;
    
}

/*RECEIPT*/

.receipt-background{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    padding: 2rem;
    background-color: #FEFEFE;
    border-radius: 3rem;
    box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
    animation: receipt_opening 1s ;
    
    h2{
        margin-bottom: 1.5rem;
            font-family: "Kadwa", sans-serif;
            text-align: center;
            font-weight: 700;
            
        }

        
    }
    .button-close{
        font-weight: 700;
        width: 2rem;
        height: 2rem;
        float: right;
        border: none;
        border-radius: 0.5rem;
        transition: all 0.3s;
    }
    .button-close:hover {
        background-color: crimson;
    }

    .meal-product-details{
        display: flex;
        flex-direction: row;
    
    }
    
    .receipt-ingredient{
        list-style-type: decimal;

    }
    .receipt-ingredient li{
        padding: 10px;

    }
    
    
    .receipt-img{
        border-radius: 30px;
        width:37.5rem ; height:37.5rem ;
            
    }
    
    .receipt-description{
        padding: 30px;
    
            h3{
                text-align: center;
                
            }
            
    }
    
    .receipt-buy-button{
    
        float: right;
    
    }
    
    .receipt-buy{
        padding: 0.8rem;
        width: 5em;
        background-color: #FFA24B;
        border: none;
        border-radius: 1rem;
        text-decoration: none;
        color: black;
    }
    
    .receipt-buy:hover{
        cursor:pointer;
    
    
    }

    @keyframes receipt_opening{
    from {opacity: 0.5;}
    to {opacity:1;}

    }


    @media all and (min-width: 1024px) and (max-width: 1280px) {



    }
    @media all and (min-width: 768px) and (max-width: 1024px) {

        .receipt-background{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40rem;
            padding: 2rem;
            background-color: #FEFEFE;
            border-radius: 3rem;
            box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
            overflow:hidden;
            animation: receipt_opening 1s ;
            
            h2{
                margin-bottom: 0.5rem;
                    font-family: "Kadwa", sans-serif;
                    text-align: center;
                    font-weight: 700;
                    
                }
                
                h4{
                    font-size: 1rem;
                }
            }
            .button-close{
                font-weight: 700;
                width: 2rem;
                height: 2rem;
                float: right;
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s;
            }
            .button-close:hover {
                background-color: crimson;
            }
        
            .meal-product-details{
                display: flex;
                flex-direction: row;
            
            }
            
            .receipt-ingredient{
                list-style-type: decimal;
        
            }
            .receipt-ingredient li{
                padding: 5px;
        
            }
            
            
            .receipt-img{
                border-radius: 30px;
                width:10rem ; height: 10rem;
                    
            }
            
            .receipt-description{
                padding: 30px;
            
                    h3{
                        text-align: center;
                        
                        
                    }
                    
            }
            
            .receipt-buy-button{
            
                float: right;
            
            }
            
            .receipt-buy{
                padding: 0.8rem;
                width: 5em;
                background-color: #FFA24B;
                border: none;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
            }
            
            .receipt-buy:hover{
                cursor:pointer;
            
            
            }
        
            @keyframes receipt_opening{
            from {opacity: 0.5;}
            to {opacity:1;}
        
            }
    
    }
    
    @media all and (min-width: 480px) and (max-width: 768px) {

        .receipt-background{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40rem;
            padding: 2rem;
            background-color: #FEFEFE;
            border-radius: 3rem;
            box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
            overflow:hidden;
            animation: receipt_opening 1s ;
            
            h2{
                margin-bottom: 0.5rem;
                    font-family: "Kadwa", sans-serif;
                    text-align: center;
                    font-weight: 700;
                    
                }
                
                h4{
                    font-size: 1rem;
                }
            }
            .button-close{
                font-weight: 700;
                width: 2rem;
                height: 2rem;
                float: right;
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s;
            }
            .button-close:hover {
                background-color: crimson;
            }
        
            .meal-product-details{
                display: flex;
                flex-direction: row;
            
            }
            
            .receipt-ingredient{
                list-style-type: decimal;
        
            }
            .receipt-ingredient li{
                padding: 5px;
        
            }
            
            
            .receipt-img{
                border-radius: 30px;
                width:15rem ; height: 15rem;
                    
            }
            
            .receipt-description{
                padding: 30px;
            
                    h3{
                        text-align: center;
                        
                        
                    }
                    
            }
            
            .receipt-buy-button{
            
                float: right;
            
            }
            
            .receipt-buy{
                padding: 0.8rem;
                width: 5em;
                background-color: #FFA24B;
                border: none;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
            }
            
            .receipt-buy:hover{
                cursor:pointer;
            
            
            }
        
            @keyframes receipt_opening{
            from {opacity: 0.5;}
            to {opacity:1;}
        
            }
    
    }
    
    @media all and (max-width: 480px) {
        .receipt-background{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25rem;
            padding: 2rem;
            background-color: #FEFEFE;
            border-radius: 3rem;
            box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
            animation: receipt_opening 1s ;
            
            h2{
                margin-bottom: 0.5rem;
                    font-family: "Kadwa", sans-serif;
                    text-align: center;
                    font-weight: 700;
                    
                }
                
                h4{
                    font-size: 0.9rem;
                }
            }
            .button-close{
                font-weight: 700;
                width: 3rem;
                height: 3rem;
                float: right;
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s;
            }
            .button-close:hover {
                background-color: crimson;
            }
        
            .meal-product-details{
                display: flex;
                flex-direction: row;
            
            }
            
            .receipt-ingredient{
                list-style-type: decimal;
        
            }
            .receipt-ingredient li{
                padding: 0px;
        
            }
            
            
            .receipt-img{
                border-radius: 30px;
                width:7.5rem ; height: 7.5rem;
                    
            }
            
            .receipt-description{
                padding: 10px;
            
                    h3{
                        text-align: center;
                        
                        
                    }
                    
            }
            
            .receipt-buy-button{
            
                float: right;
            
            }
            
            .receipt-buy{
                padding: 0.8rem;
                width: 5em;
                background-color: #FFA24B;
                border: none;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
            }
            
            .receipt-buy:hover{
                cursor:pointer;
            
            
            }
        
            @keyframes receipt_opening{
            from {opacity: 0.5;}
            to {opacity:1;}
        
            }
    }
    
 



/*RECEIPT END*/

/* FOOTER */
 
#footer{
    margin-top: 100px;
    display: flex;
    width: 100%;
    padding: 0px;
    flex-direction: row;
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 40%, rgba(73,42,164,1) 100%);
    padding-bottom: 50px;
}

.footer-img{
    width: 3rem;
}
#linkedin{
    margin-right: 1rem; ;
}
.fbx1{
    padding-top: 6rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    text-align: start;
    flex: 50%;

        #footerlogo{
            width: 35rem;
        }
}
.fbx2{
    padding-top: 3rem;
    flex:25%;
    text-align: start;
    justify-content: start;

    h1{
        border-bottom: solid #FFECE5 5px;width: 11rem;margin-bottom: 2rem;
    }
}
.fbx3{
    padding-top: 3rem;
    flex:25%;
    h1{
        border-bottom: solid #FFECE5 5px;width: 11rem;margin-bottom: 2rem;
    }

    
}

.footertext{
    color: #FFECE5;
    font-size: 1.2em;
    font-family: "Kadwa", serif;
    font-weight: 800;
}
.titlefooter{
    font-size: 3rem;
    color: #FFECE5;
    font-family: "Kadwa", serif;
    font-weight: 800;


}
.kadwa-bold {
    font-family: "Kadwa", serif;
    font-weight: 700;
    font-style: normal;
}


@media all and (min-width: 1024px) and (max-width: 1280px) {
    
    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    
    #footer{
        flex-direction: column;
    }
    .fbx1{
        flex: 30%;
        text-align: center;
        justify-content: center;
        padding-top: 3rem;      /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-bottom: 0rem;
        padding-left: 0rem;

        #footerlogo{
            width: 25rem;
        }

        
    }
    .footer-img{
        width: 3rem;

    }
    #linkedin{
        margin-right: 1rem; ;
    }
    .fbx2{
        flex: 30%;
        text-align: center;
        justify-content: center;
        border-bottom: #FEFEFE ; /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

            h1{
                width: auto;
                border-top: solid #FFECE5 5px;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
                border-bottom: none;
            }
    }
    .fbx3{
        flex: 30%;
        text-align:center;
        justify-content: center;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

         h1{
            border-top: solid #FFECE5 5px;        /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
            border-bottom: none;
            width: auto;
         }
    }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
    #footer{
        flex-direction: column;
    }
    .fbx1{
        flex: 30%;
        text-align: center;
        justify-content: center;
        padding-top: 3rem;      /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-bottom: 0rem;
        padding-left: 0rem;

        #footerlogo{
            width: 25rem;
        }

        
    }
    .footer-img{
        width: 3rem;

    }
    #linkedin{
        margin-right: 1rem;
    }
    .fbx2{
        flex: 30%;
        text-align: center;
        justify-content: center;
        border-bottom: #FEFEFE ; /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

            h1{
                width: auto;
                border-top: solid #FFECE5 5px;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
                border-bottom: none;
            }
    }
    .fbx3{
        flex: 30%;
        text-align:center;
        justify-content: center;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

         h1{
            border-top: solid #FFECE5 5px;        /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
            border-bottom: none;
            width: auto;
         }
    }

 }

@media all and (max-width: 480px) { 
    #footer{
        flex-direction: column;
    }
    .fbx1{
        flex: 30%;
        text-align: center;
        justify-content: center;
        padding-top: 3rem;      /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-bottom: 0rem;
        padding-left: 0rem;

        #footerlogo{
            width: 20rem;
        }

        
    }
    .footer-img{
        width: 3rem;

    }
    #linkedin{
        margin-right: 1rem; ;
    }
    .fbx2{
        flex: 30%;
        text-align: center;
        justify-content: center;
        border-bottom: #FEFEFE ; /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

            h1{
                width: auto;
                border-top: solid #FFECE5 5px;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
                border-bottom: none;
            }
    }
    .fbx3{
        flex: 30%;
        text-align:center;
        justify-content: center;     /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
        padding-top: 3rem;

         h1{
            border-top: solid #FFECE5 5px;        /* VOCÊ ESTÁ VENDO UMA MEDIA QUERIE*/
            border-bottom: none;
            width: auto;
         }
    }

}

/* FOOTER END */

/* MENU DROP DOWN */

.menu{
    position: absolute;
    width: 30rem;
    height: 30rem;
    background-color: black;

}