@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

body {
    background-color: rgb(247, 247, 247);
}

.container {
    display: flex;
    margin-top: 20vh;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 914px;
    height: 424px;
    border-radius: 2vw;
    box-shadow: 1px 1px 10px;
}

.box h1 {
    font-size: 1.5vw;
    position: relative;
    left: 4vw;
    top: 2vw;
    text-shadow: 1px 1px 20px;
}

.form-group input {
    position: relative;
    top: 5vh;
    width: 700px;
    height: 47px;
    background-color: rgb(228, 225, 225);
    border-radius: 30px;
    margin: 1rem;
}

.form-check {
    margin-top: 5rem;
}

.btn {
    background-color: black;
    margin-top: -5rem;
    margin-left: 40rem;
    font-size: -3vw;
    border-radius: 2rem;
    
}

.btn-primary {
    background-color: black;
}

form h1 {
    margin-left: 15rem;
}