@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}


@media all and (min-width: 344px) and (max-width: 1024px) {

}

@media all and (min-width: 990px) and (max-width: 1280px) {
    .user-functions {
        margin-right: 10rem;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 65%, rgba(73,42,164,1) 100%);
    padding: 0.5rem;

    .user {
        display: flex;
        justify-content: center;
        position: relative;
        left: 35%;
        color: white;
        
        .user-a {
            padding: 2rem;
        }
    }

}
.brand-logo {
    position: relative;
    right: 12%;

    span {
        font-weight: bold;
        font-size: 20px;
    }
}

.nav-link:hover {
    transform: translateY(-0.5vh);
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}

.container-itens {
    padding: 0.5rem;

    .nav-itens {
        text-align: center;
    }


    .nav-icons {
        display: inline-block;
        padding: 2rem;
        text-decoration: none;
    }
}
