* {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    max-width: 100%;
}

/* # NAVBAR */

.nav-item:hover {
    transform: translateY(-0.5vh);
}
.nav-item {
    transition: transform 0.3s;
    a {
        color: white;
    }

}

.text-border{
    /*A classe Text-border é responsável pela criação da animação da borda branca nos textos da navbar.*/
    margin: 0;
    display: inline-block;
}

.text-border:after {
    display: block;
    content: '';
    transform: scaleX(0); 
    border-bottom: 4px solid #FFECE5;
    transition: transform 250ms ease-in-out;
}

.text-border:hover:after { transform: scaleX(1); }


.navbar {
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 65%, rgba(73,42,164,1) 100%);

   .navbar-nav {
    gap: 2rem;

}

    .navbar-brand {
    margin-left: 10rem;
}

    img {
    margin-left: -1rem;
    margin-right: -1rem;

}

}

.itens-nav {
    margin-top: 0.5rem;
    width: 55rem;

    .nav-item {
        margin-left: 5rem;
    }
}

.d-flex {
    padding: 0.5rem;
    margin-left: 12rem;

    #user {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        flex-direction: row;
        cursor: pointer;

       img {
        margin-left: 1rem;
        width: 25px;
        height: 25px;
       }
    }
    
    #cart {
        padding-left: 5rem;
        width: 7rem;
}
}

/* #NAVBAR END */