* {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    max-width: 100%;
}

/* # NAVBAR */

.navbar {
    display: flex;
    justify-content: center;
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 65%, rgba(73,42,164,1) 100%);


}
.brand-logo {
    position: relative;
    right: 12%;
    span {
        font-weight: bold;
        font-size: 20px;
    }
}


.nav-link {
    padding: 3rem;
    color: white;
    text-decoration: none;
}

.chest-itens {
    gap: 2rem;
    .nav-icons {
        display: inline-flex;
    }

}

.user-a {
    position: relative;
    left: 30%;
    gap: 2rem;

    a {
        text-decoration: none;
        color: white;
    }
}
/* #NAVBAR END */