@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    
    max-width: 100%;
}


/* # NAVBAR */

.navbar {
    display: flex;
    justify-content: center;
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 65%, rgba(73,42,164,1) 100%);
    font-family: "Inter", sans-serif;
    font-weight: bold;


}
.brand-logo {
    position: relative;
    right: 12%;
    span {
        font-weight: bold;
        font-size: 20px;
    }
}


.nav-link {
    padding: 3rem;
    color: white;
    text-decoration: none;
}

.chest-itens {
    gap: 2rem;
    .nav-icons {
        display: inline-flex;
    }

}

.user-a {
    position: relative;
    left: 30%;
    gap: 2rem;

    a {
        text-decoration: none;
        color: white;
    }
}
/* #NAVBAR END */

/* MENU START*/

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #F6F6F6;
    padding-bottom: 16rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px;
    margin-top: 3rem;
    font-family: "Kadwa", serif;
    font-weight: 500;
    font-style: normal; 


    span{
        color: #341D16;
        font-size: 2rem;
    }


     h1{
        margin-top: 5rem;
        font-family:"Kadwa", serif ;
        font-weight: 600;
        font-size: 3rem;
        color: #341D16;

     }
}

.options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    a {
        text-decoration: none;
    }
    img{
        width: 5rem;

    }

    #cartuser{
        display: flex;
        align-items: center;
    }

    span {
        text-align: center;
        padding: 2rem;
    }

}

@media all and (min-width: 1024px) and (max-width: 1280px) {




 }

@media all and (min-width: 768px) and (max-width: 1024px) {

    .container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #F6F6F6;
        width: 36rem;
        padding-top: 5rem;
        padding-bottom: 13rem;
        border-radius: 2rem;
        box-shadow: 0px 4px 4px 0px;
        margin-top: 3rem;
        font-family: "Kadwa", serif;
        font-weight: 500;
        font-style: normal; 
    
    
        span{
            color: #341D16;
            font-size: 1.5rem;
        }
    
    
         h1{
            margin-bottom: 5rem;
            font-family:"Kadwa", serif ;
            font-weight: 600;
            font-size: 3rem;
            color: #341D16;
    
         }
    }
    
    .options {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            padding: 2rem;
        }
        img{
            width: 5rem;
    
        }
    
        #cartuser{
            margin-left: -0.5rem;
    
        }
 }
}
@media all and (min-width: 480px) and (max-width: 768px) {

    
    .container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #F6F6F6;
        width: 36rem;
        padding-top: 5rem;
        padding-bottom: 13rem;
        border-radius: 2rem;
        box-shadow: 0px 4px 4px 0px;
        margin-top: 3rem;
        font-family: "Kadwa", serif;
        font-weight: 500;
        font-style: normal; 
    
    
        span{
            color: #341D16;
            font-size: 1.5rem;
        }
    
    
         h1{
            margin-bottom: 5rem;
            font-family:"Kadwa", serif ;
            font-weight: 600;
            font-size: 3rem;
            color: #341D16;
    
         }
    }
    
    .options {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            padding: 2rem;
        }
        img{
            width: 5rem;
    
        }
    
        #cartuser{
            margin-left: -0.5rem;
    
        }
 }
    



    
    }
    



@media all and (max-width: 480px) { 

    .container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #F6F6F6;
        width: 27rem;
        padding-top: 5rem;
        padding-bottom: 13rem;
        border-radius: 2rem;
        box-shadow: 0px 4px 4px 0px;
        margin-top: 3rem;
        font-family: "Kadwa", serif;
        font-weight: 500;
        font-style: normal; 
    
    
        span{
            color: #341D16;
            font-size: 1.2rem;
        }
    
    
         h1{
            margin-bottom: 3rem;
            font-family:"Kadwa", serif ;
            font-weight: 600;
            font-size: 3rem;
            color: #341D16;
    
         }
    }
    
    .options {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            padding: 1rem;
        }
        img{
            width: 4rem;
    
        }
    
        #cartuser{
            margin-left: -0.5rem;
    
        }
 }




}
