@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    max-width: 100%;
}


/* # NAVBAR */

.nav-item:hover {
    transform: translateY(-0.5vh);
}
.nav-item {
    transition: transform 0.3s;
    a {
        color: white;
    }

}

.text-border{
    /*A classe Text-border é responsável pela criação da animação da borda branca nos textos da navbar.*/
    margin: 0;
    display: inline-block;
}

.text-border:after {
    display: block;
    content: '';
    transform: scaleX(0); 
    border-bottom: 4px solid #FFECE5;
    transition: transform 250ms ease-in-out;
}

.text-border:hover:after { transform: scaleX(1); }


.navbar {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background: rgb(240,33,33);
    background: linear-gradient(90deg, rgba(240,33,33,1) 65%, rgba(73,42,164,1) 100%);

   .navbar-nav {
    gap: 2rem;

}

    .navbar-brand {
    margin-left: 10rem;
}

    img {
    margin-left: -1rem;
    margin-right: -1rem;

}

}

.itens-nav {
    margin-top: 0.5rem;
    width: 55rem;

    .nav-item {
        margin-left: 5rem;
    }
}

.d-flex {
    padding: 0.5rem;
    margin-left: 12rem;

    #user {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        flex-direction: row;
        cursor: pointer;

       img {
        margin-left: 1rem;
        width: 25px;
        height: 25px;
       }
    }
    
    #cart {
        padding-left: 5rem;
        width: 7rem;
}
}

/* #NAVBAR END */

/* MENU START*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    width: 45rem;
    height: 45rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px;
    margin-top: 3rem;
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal; 
}

.options {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: black;
    }

    #historyuser {
        padding: 2rem;

        span {
            padding: 1rem;
        }
    }

    #cartuser {
        padding: 2rem;

        span {
            padding: 1rem;
        }
    }
}